*{
    padding: 0;
    margin: 0;
}
.parent{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}
.parent::-webkit-scrollbar{
    /* overflow: hidden; */
}
.card{
    width:600px !important ;
    height: 14rem !important;
    background-color: white ;
    margin-left : 10px;
    
}
.imag{
    width: 500px;
    /* height: 60%;5 */
}
.imag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}